{{<base}}
    {{$content}}
        <div class="card sm-3 col padding-small">
            <div class="card-body">
                <p class="card-text">
                    Welcome to Tribe!
                </p>
            </div>
        </div>
    {{/content}}
{{/base}}
